.welcome {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.welcome__title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 0.2rem;
}

.welcome__text {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;
}