
.new__order {
    /* center the modal */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    /*display: none;*/
}

.new__order__content {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
    max-width: 800px;
}

.new__order__content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.new__order__content__header__title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.new__order__content__header__close {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
}

.new__order__content__header__close span {
    font-size: 1.5rem;
}

.new__order__content__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.new__order__content__form__input {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.new__order__content__form__input label {
    font-size: 0.8rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
}

.new__order__content__form__input input,
.new__order__content__form__input select {
    padding: 0.5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Inter';
    outline: none;
}

.new__order__content__form__input input::placeholder,
.new__order__content__form__input select::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.new__order__content__form__input select {
    appearance: none;
    padding-right: 2rem;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="svg-icon" aria-labelledby="title desc" role="img" viewBox="0 0 19.9 19.7"><title id="title">Down Arrow Icon</title><desc id="desc">A downward arrow icon.</desc><g class="down-arrow-path" fill="none" stroke="%23848F91"><path d="M1 7l9 9l9-9"/></g></svg>');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    /* Position the icon horizontally */
    background-size: 1rem;
    /* Adjust the size of the icon */
}

.new__order__content__form__input a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-size: 0.8rem;
    transition: color 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

.new__order__content__form__input a:hover {
    color: rgba(0, 0, 0, 1);
}

.new__order__actions {
    display: flex;
    gap: 1rem;
    justify-content: end;
}

.new__order__actions__button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Inter';
}

.new__order__actions__button.red {
    background-color: #dc3545;
    color: white;
}

.new__order__actions__button.red:hover {
    background-color: #c82333;
}

.new__order__actions__button.green {
    background-color: #28a745;
    color: white;
}

.new__order__actions__button.green:hover {
    background-color: #218838;
}

/* background-image: url('data:image/svg+xml,<svg class="svg-icon search-icon" aria-labelledby="title desc" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.9 19.7"><title id="title">Search Icon</title><desc id="desc">A magnifying glass icon.</desc><g class="search-path" fill="none" stroke="%23848F91"><path stroke-linecap="square" d="M18.5 18.3l-5.4-5.4"/><circle cx="8" cy="8" r="7"/></g></svg>'); */

.search-path {
    fill: none;
    stroke: #848F91;
}

#order_product_search {
    background-image: url('data:image/svg+xml;base64,PHN2ZyBjbGFzcz0ic3ZnLWljb24gc2VhcmNoLWljb24iIGFyaWEtbGFiZWxsZWRieT0idGl0bGUgZGVzYyIgcm9sZT0iaW1nIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOS45IDE5LjciPjx0aXRsZSBpZD0idGl0bGUiPlNlYXJjaCBJY29uPC90aXRsZT48ZGVzYyBpZD0iZGVzYyI+QSBtYWduaWZ5aW5nIGdsYXNzIGljb24uPC9kZXNjPjxnIGNsYXNzPSJzZWFyY2gtcGF0aCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjODQ4RjkxIj48cGF0aCBzdHJva2UtbGluZWNhcD0ic3F1YXJlIiBkPSJNMTguNSAxOC4zbC01LjQtNS40Ii8+PGNpcmNsZSBjeD0iOCIgY3k9IjgiIHI9IjciLz48L2c+PC9zdmc+');
    background-repeat: no-repeat;
    background-position: left 0.5rem center;
    /* Position the icon horizontally */
    background-size: 1.2rem;
    /* Adjust the size of the icon */
    padding-left: 2rem;
}

/* <div class="new__order__content__form__products">
    <div class="new__order__content__form__products__header">
        <div class="new__order__content__form__products__header__name">Product</div>
        <div class="new__order__content__form__products__header__quantity">Quantity</div>
        <div class="new__order__content__form__products__header__price">Price</div>
        <div class="new__order__content__form__products__header__total">Total</div>
        <div class="new__order__content__form__products__header__actions"></div>
    </div>
    <div class="new__order__content__form__products__list" id="order_products_list">
        <div class="new__order__content__form__products__list__product">
            <div class="new__order__content__form__products__list__product__name">Product 1</div>
            <div class="new__order__content__form__products__list__product__quantity">
                <input type="number" value="1" step="1">
            </div>
            <div class="new__order__content__form__products__list__product__price">100.00</div>
            <div class="new__order__content__form__products__list__product__total">100.00</div>
            <div class="new__order__content__form__products__list__product__actions">
                <button class="new__order__content__form__products__list__product__actions__button"><span class="material-icons">delete</span></button>
            </div>
        </div>
    </div>
</div>
*/

.new__order__content__form__products {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.new__order__content__form__products__header {
    display: grid;
    grid-template-columns: 2.75fr 1fr 0.5fr 0.5fr 0.25fr;
    gap: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

.new__order__content__form__products__header__name {
    text-align: left;
}

.new__order__content__form__products__header__quantity,
.new__order__content__form__products__header__price,
.new__order__content__form__products__header__total,
.new__order__content__form__products__header__actions {
    text-align: center;
}

.new__order__content__form__products__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.new__order__content__form__products__list__product {
    display: grid;
    grid-template-columns: 2.75fr 1fr 0.5fr 0.5fr 0.25fr;
    gap: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.new__order__content__form__products__list__product__name {
    display: flex;
    align-items: center;
    text-align: left;
}

.new__order__content__form__products__list__product__price,
.new__order__content__form__products__list__product__total,
.new__order__content__form__products__list__product__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.new__order__content__form__products__list__product__quantity {
    display: flex;
    align-items: center;
    justify-content: center;

}

.new__order__content__form__products__list__product__actions__button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
    padding: 0px;
}

.new__order__content__form__products__list__product__actions__button span {
    font-size: 1rem;
}

.new__order__content__form__products__list__product__actions__button:hover {
    color: rgba(0, 0, 0, 0.7);
}

.new__order__content__form__products__list__product__quantity input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 60px;
    padding: 0.5rem;
    border-radius: 15px;
    outline: none;
}



