* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    margin: 0;
    padding: 0;
}

html {
    min-width: 100vw;
    min-height: 100vh;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar__logo {
    display: flex;
    align-items: center;
}

.navbar__logo__image {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
}

.navbar__logo__title {
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}

.navbar__links {
    display: flex;
    gap: 1rem;
}

.navbar__links__link {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.navbar__links__link.button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.navbar__links__link.button:hover {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.navbar__links__link:hover {
    color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.account__form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 90vw;
    padding: 2rem;
}

@media screen and (min-width: 768px) {
    .account__form {
        max-width: 500px;
    }
}

.account__form__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account__form__content__header h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
}

.account__form__content__description {
    text-align: center;
}

.account__form__content__description p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.account__form__content__form {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.account__form__content__form__input {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    position: relative;
}

.account__form__content__form__input label {
    font-size: 0.8rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}

.account__form__content__form__input input {
    padding: 0.5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Inter';
    outline: none;
}

.account__form__content__form__input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.account__form__content__form__input .password__input {
    position: relative;
}

.account__form__content__form__input input {
    padding-right: 2.5rem; /* Adjust according to button size */
    width: 100%;
}

.account__form__content__form__input .password__input__button {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.account__form__content__form__input .password__input__button i {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.3s;
}

.account__form__content__form__input .password__input__button i:hover {
    color: rgba(0, 0, 0, 0.7);
}

.account__form__content__form__input .account__form__content__form__input__button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    margin: 0 auto;
    background-color: #28a745;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1.5rem;
    font-family: 'Inter', sans-serif;
    width: 100%;
    max-width: 300px;
}

.account__form__content__form__input .account__form__content__form__input__button:hover {
    background-color: #218838;
}

.account__form__content__extra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.account__form__content__extra__text p {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;

}

.account__form__content__extra__text p::before,
.account__form__content__extra__text p::after {
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}

.account__form__content__extra__buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.account__form__content__extra__buttons button {
    padding: 0.5rem 1rem;
    min-width: 100px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.account__form__content__extra__buttons button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.account__form__content__footer {
    margin-top: 1.5rem;
    text-align: center;
}

.account__form__content__footer p {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
}

.account__form__content__footer p a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    font-weight: 500;
}

.required {
    color: red;
    margin-left: 5px;
}

.account__form__content__form__error {
    color: red;
    border: 1px solid red;
    padding: 0.5rem;
    border-radius: 5px;
    display: none;
}
