{% extends "app/base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app/clients.css') }}">
<script src="{{ url_for('static', filename='js/app/clients.js') }}"></script>
<script src="{{ url_for('static', filename='js/app/app.js') }}"></script>
<script type="application/json" id="clients">
    {{ clients | tojson | safe }}
</script>

<script type="application/json" id="businesses">
	{{ businesses | tojson | safe }}
</script>
{% endblock %}
{% block title %}Clients - ManageEasy{% endblock %}
{% block content %}
<div class="new__client" id="new-client">
	<div class="new__client__content">
		<div class="new__client__content__header">
			<h1 class="new__client__content__header__title">New Client</h1>
			<button class="new__client__content__header__close" onclick="closeClientModal()"><span class="material-symbols-outlined">close</span></button>
		</div>
		<div class="new__client__content__form">
			<div class="new__client__content__form__input">
				<label for="name">Client Full Name<span class="required">*</span></label>
				<input type="text" id="client_name" name="client_name" placeholder="Client Full Name">
			</div>
			<div class="new__client__content__form__input">
				<label for="email">Client Email<span class="required">*</span></label>
				<input type="email" id="client_email" name="client_email" placeholder="Client Email">
			</div>
			<div class="new__client__content__form__input">
				<label for="phone">Client Phone<span class="required">*</span></label>
				<input type="tel" id="client_phone" name="client_phone" placeholder="Client Phone">
			</div>
			<div class="new__client__content__form__input">
				<label for="business">Business <span class="required">*</span></label>
				<select id="client_business" name="client_business"></select>
				<a href="javascript:void(0)" onclick="newBusinessModal()">Create New</a>
			</div>
			<div class="new__client__content__form__input">
				<label for="address">Address</label>
				<input type="text" id="client_address_input" name="client_address_input" placeholder="Address">
			</div>
		</div>
		<div class="new__client__actions">
			<button class="new__client__actions__button red" onclick="closeClientModal()">Cancel</button>
			<button class="new__client__actions__button green" onclick="saveNewClient()">Save</button>
		</div>
	</div>
</div>

<div class="new__client" id="edit-client">
	<div class="new__client__content">
		<div class="new__client__content__header">
			<h1 class="new__client__content__header__title">Edit Client</h1>
			<button class="new__client__content__header__close" onclick="closeEditClientModal()"><span class="material-symbols-outlined">close</span></button>
		</div>
		<div class="new__client__content__form">
			<input type="hidden" id="edit_client_id" name="edit_client_id">
			<div class="new__client__content__form__input">
				<label for="name">Client Full Name<span class="required">*</span></label>
				<input type="text" id="edit_client_name" name="edit_client_name" placeholder="Client Full Name">
			</div>
			<div class="new__client__content__form__input">
				<label for="email">Client Email<span class="required">*</span></label>
				<input type="email" id="edit_client_email" name="edit_client_email" placeholder="Client Email">
			</div>
			<div class="new__client__content__form__input">
				<label for="phone">Client Phone<span class="required">*</span></label>
				<input type="tel" id="edit_client_phone" name="edit_client_phone" placeholder="Client Phone">
			</div>
			<div class="new__client__content__form__input">
				<label for="business">Business</label>
				<select id="edit_client_business" name="edit_client_business"></select>
				<a href="javascript:void(0)" onclick="newBusinessModal()">Create New</a>
			</div>
			<div class="new__client__content__form__input">
				<label for="address">Address<span class="required">*</span></label>
				<input type="text" id="edit_client_address_input" name="edit_client_address_input" placeholder="Address">
			</div>
		</div>
		<div class="new__client__actions">
			<button class="new__client__actions__button red" onclick="closeEditClientModal()">Cancel</button>
			<button class="new__client__actions__button green" onclick="saveEditClient()">Update</button>
		</div>
	</div>
</div>

<div class="new__client" id="new-business">
	<div class="new__client__content">
		<div class="new__client__content__header">
			<h1 class="new__client__content__header__title">New Business</h1>
			<button class="new__client__content__header__close" onclick="closeBusinessModal()"><span class="material-symbols-outlined">close</span></button>
		</div>
		<div class="new__client__content__form">
			<input type="hidden" id="reopen_model" name="reopen_model">
			<div class="new__client__content__form__input">
				<label for="name">Business Name<span class="required">*</span></label>
				<input type="text" id="business_name" name="business_name" placeholder="Business Name">
			</div>
		</div>
		<div class="new__client__actions">
			<button class="new__client__actions__button red" onclick="closeBusinessModal()">Cancel</button>
			<button class="new__client__actions__button green" onclick="saveNewBusiness()">Save</button>
		</div>
	</div>
</div>

<div class="dashboard__content__header">
	<h1 class="dashboard__content__header__title">Clients</h1>
	<div class="dashboard__content__header__actions">
		<button class="dashboard__content__header__actions__button" onclick="newClientModal()"><span class="material-symbols-outlined">add</span>New
			Client</button>
	</div>
</div>
<div class="dashboard__content__table">
	<div class="dashboard__content__table__header">
		<div class="dashboard__content__table__header__left">
			<button class="dashboard__content__table__header__left__button"><span class="material-symbols-outlined">filter_list</span>Filters</button>
		</div>
		<div class="dashboard__content__table__header__right">
			<input type="text" class="dashboard__content__table__header__right__search" placeholder="Search" data-type="clientSearch">
		</div>
	</div>
	<div class="dashboard__content__table__actions">
		<button class="dashboard__content__table__actions__button red" name="Delete Selected" disabled="true" onclick="deleteSelected()"><span class="material-symbols-outlined">delete</span></button>
	</div>
	<input type="hidden" id="pagination_offset" value="0">
	<input type="hidden" id="pagination_limit" value="20">
	<input type="hidden" id="csrf_token" value="{{ csrf_token() }}">
	<table id="data-table">
		<thead>
			<tr class="table__header">
				<th>#</th>
				<th><input type="checkbox" data-type="selectAll" onclick="clientSelectAll(this)"></th>
				<th>
					<div class="th-content">Client <a class="sort-by" href="javascript:void(0)" onclick="sortBy('name', 'asc', this)"></a></div>
				</th>
				<th>
					<div class="th-content">Contact Info</div>
				</th>
				<th>
					<div class="th-content">Business</div>
				</th>
				<th>
					<div class="th-content">Date Added <a class="sort-by down" href="javascript:void(0)" onclick="sortBy('created_at', 'asc', this)"></a></div>
				</th>
				<th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
	<div class="pagination {{ 'hidden' if clients|length < 20 }}">
		<button class="pagination__button" name="Previous" disabled="true" onclick="pagination(0)"><span class="material-symbols-outlined">chevron_left</span></button>
		<button class="pagination__button" name="Next" onclick="pagination(1)" {% if clients|length < 20 %}disabled="true" {% endif %}><span class="material-symbols-outlined">chevron_right</span></button>
	</div>
</div>
{% endblock %}