{% extends "app/base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app/orders.css') }}">
<script src="{{ url_for('static', filename='js/app/orders.js') }}"></script>
<script src="{{ url_for('static', filename='js/app/app.js') }}"></script>
<script type="application/json" id="clients">
    {{ clients | tojson | safe }}
</script>

<script type="application/json" id="orders">
	{{ orders | tojson | safe }}
</script>

<script type="application/json" id="products">
    {{ products | tojson | safe }}
</script>

{% endblock %}
{% block title %}Orders - Client Max Pro{% endblock %}
{% block content %}
<div class="dashboard__content__header">
	<h1 class="dashboard__content__header__title">Orders</h1>
	<div class="dashboard__content__header__actions">
		<button class="dashboard__content__header__actions__button" onclick="newOrderModal()"><span class="material-symbols-outlined">add</span>New
			Order</button>
	</div>
</div>

<!-- https://dribbble.com/shots/21161433-Create-sales-order-form -->

<div class="new__order" id="new-order">
	<div class="new__order__content">
		<div class="new__order__content__header">
			<h1 class="new__order__content__header__title">New Order</h1>
			<button class="new__order__content__header__close" onclick="closeOrderModal()"><span class="material-symbols-outlined">close</span></button>
		</div>
		<div class="new__order__content__form">
			<div class="new__order__content__form__input">
				<label for="client">Client<span class="required">*</span></label>
				<select id="order_client" name="order_client"></select>
				<a href="{{ url_for('app_clients') }}">Create New</a>
			</div>
			<div class="new__order__content__form__input" style="margin-top: 2rem;">
				<label for="products">Products<span class="required">*</span></label>
				<input type="text" id="order_product_search" name="order_product_search" placeholder="Type to add a product" oninput="searchProduct(this)">
				<a href="{{ url_for('app_products') }}">Create New</a>
				<div class="new__order__content__form__input__product__results" id="order_product_results" style="display: none;"></div>
			</div>
			<div class="new__order__content__form__products">
				<div class="new__order__content__form__products__header">
					<div class="new__order__content__form__products__header__name">Product</div>
					<div class="new__order__content__form__products__header__quantity">Quantity</div>
					<div class="new__order__content__form__products__header__price">Price</div>
					<div class="new__order__content__form__products__header__total">Total</div>
					<div class="new__order__content__form__products__header__actions"></div>
				</div>
				<div class="new__order__content__form__products__list" id="order_products_list"></div>
			</div>

			<div class="new__order__content__form__input">
				<label for="notes">Notes</label>
				<textarea id="order_notes" name="order_notes" placeholder="Add a note"></textarea>
			</div>
			<div class="new__order__content__form__input">
				<label for="status">Status<span class="required">*</span></label>
				<select id="order_status" name="order_status">
					<option value="pending">Pending</option>
					<option value="processing">Processing</option>
					<option value="shipped">Shipped</option>
					<option value="completed">Completed</option>
					<option value="cancelled">Cancelled</option>
				</select>
			</div>
		</div>
		<div class="new__order__actions">
			<button class="new__order__actions__button red" onclick="closeOrderModal()">Cancel</button>
			<button class="new__order__actions__button green" onclick="saveNewOrder()">Save</button>
		</div>
	</div>
</div>

<div class="new__order" id="edit-order">
	<div class="new__order__content">
		<div class="new__order__content__header">
			<h1 class="new__order__content__header__title">Edit Order</h1>
			<button class="new__order__content__header__close" onclick="closeEditOrderModal()"><span class="material-symbols-outlined">close</span></button>
		</div>
		<div class="new__order__content__form">
			<input type="hidden" id="edit_order_id" name="edit_order_id">
			<div class="new__order__content__form__input">
				<label for="client">Client<span class="required">*</span></label>
				<select id="edit_order_client" name="edit_order_client"></select>
				<a href="{{ url_for('app_clients') }}">Create New</a>
			</div>
			<div class="new__order__content__form__input" style="margin-top: 2rem;">
				<label for="products">Products<span class="required">*</span></label>
				<input type="text" id="edit_order_product_search" name="edit_order_product_search" placeholder="Type to add a product" oninput="searchProductEdit(this)">
				<a href="{{ url_for('app_products') }}">Create New</a>
				<div class="new__order__content__form__input__product__results" id="edit_order_product_results" style="display: none;"></div>
			</div>
			<div class="new__order__content__form__products">
				<div class="new__order__content__form__products__header">
					<div class="new__order__content__form__products__header__name">Product</div>
					<div class="new__order__content__form__products__header__quantity">Quantity</div>
					<div class="new__order__content__form__products__header__price">Price</div>
					<div class="new__order__content__form__products__header__total">Total</div>
					<div class="new__order__content__form__products__header__actions"></div>
				</div>
				<div class="new__order__content__form__products__list" id="edit_order_products_list"></div>
			</div>
			<div class="new__order__content__form__input">
				<label for="notes">Notes</label>
				<textarea id="edit_order_notes" name="edit_order_notes" placeholder="Add a note"></textarea>
			</div>
			<div class="new__order__content__form__input">
				<label for="status">Status<span class="required">*</span></label>
				<select id="edit_order_status" name="edit_order_status">
					<option value="pending">Pending</option>
					<option value="processing">Processing</option>
					<option value="shipped">Shipped</option>
					<option value="completed">Completed</option>
					<option value="cancelled">Cancelled</option>
				</select>
			</div>
		</div>
		<div class="new__order__actions">
			<button class="new__order__actions__button red" onclick="closeEditOrderModal()">Cancel</button>
			<button class="new__order__actions__button green" onclick="saveEditOrder()">Save</button>
		</div>
	</div>
</div>

<div class="new__order" id="view-order">
	<div class="new__order__content">
		<div class="new__order__content__header">
			<h1 class="new__order__content__header__title">View Order</h1>
			<button class="new__order__content__header__close" onclick="closeViewOrderModal()"><span class="material-symbols-outlined">close</span></button>
		</div>
		<div class="new__order__content__form">
			<div class="new__order__content__form__input">
				<label for="client">Client</label>
				<input type="text" id="view_order_client" name="view_order_client" disabled="true">
			</div>
			<div class="new__order__content__form__products">
				<div class="new__order__content__form__products__header">
					<div class="new__order__content__form__products__header__name">Product</div>
					<div class="new__order__content__form__products__header__quantity">Quantity</div>
					<div class="new__order__content__form__products__header__price">Price</div>
					<div class="new__order__content__form__products__header__total">Total</div>
				</div>
				<div class="new__order__content__form__products__list" id="view_order_products_list"></div>
			</div>
			<div class="new__order__content__form__input">
				<label for="notes">Notes</label>
				<textarea id="view_order_notes" name="view_order_notes" disabled="true"></textarea>
			</div>
			<div class="new__order__content__form__input">
				<label for="status">Status</label>
				<input type="text" id="view_order_status" name="view_order_status" disabled="true">
			</div>
		</div>
		<div class="new__order__actions">
			<button class="new__order__actions__button red" onclick="closeViewOrderModal()">Close</button>
		</div>
	</div>
</div>

<div class="dashboard__content__table">
	<div class="dashboard__content__table__header">
		<div class="dashboard__content__table__header__left">
			<button class="dashboard__content__table__header__left__button"><span class="material-symbols-outlined">filter_list</span>Filters</button>
		</div>
		<div class="dashboard__content__table__header__right">
			<input type="text" class="dashboard__content__table__header__right__search" placeholder="Search" data-type="orderSearch">
		</div>
	</div>
	<div class="dashboard__content__table__actions">
		<button class="dashboard__content__table__actions__button red" name="Delete Selected" disabled="true" onclick="deleteSelected()"><span class="material-symbols-outlined">delete</span></button>
	</div>
	<input type="hidden" id="pagination_offset" value="0">
	<input type="hidden" id="pagination_limit" value="20">
	<input type="hidden" id="csrf_token" value="{{ csrf_token() }}">
	<table id="data-table">
		<thead>
			<tr class="table__header">
				<th>#</th>
				<th><input type="checkbox" data-type="selectAll" onclick="orderSelectAll(this)"></th>
				<th>
					<div class="th-content">Order Number <a class="sort-by" href="javascript:void(0)" onclick="sortBy('order_number', 'asc', this)"></a></div>
				</th>
				<th>
					<div class="th-content">Client</div>
				</th>
				<th>
					<div class="th-content">Price <a class="sort-by" href="javascript:void(0)" onclick="sortBy('total', 'asc', this)"></a></div>
				</th>
				<th>
					<div class="th-content">Status <a class="sort-by" href="javascript:void(0)" onclick="sortBy('status', 'asc', this)"></a></div>
				</th>
				<th>
					<div class="th-content">Created At <a class="sort-by down" href="javascript:void(0)" onclick="sortBy('created_at', 'asc', this)"></a></div>
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for order in orders[:20] %}
			<tr id="{{order.id}}">
				<td>
					<div class="td-content">{{ loop.index }}</div>
				</td>
				<td>
					<div class="td-content"><input type="checkbox" value="{{order.id}}" data-type="orderCheckbox" onchange="orderSelect(this)"></div>
				</td>
				<td>
					<div class="td-content">{{ order['order_number'] }}</div>
				</td>
				<td>
					<div class="td-content">
						{{ order['client']['name'] }}
					</div>
				</td>
				<td>
					<div class="td-content">${{'{:,.2f}'.format(order.total)}}</div>
				</td>
				<td>
					<div class="td-content">{{ order['status'].title() }}</div>
				</td>
				<td>{{ order.created_at.strftime('%B %d, %Y') }}</td>
				<td>
					<div class="td-content" style="gap: 0.5rem;">
						<a href="javascript:void(0)" onclick="viewOrder('{{order.id}}')"><span class="material-symbols-outlined">visibility</span></a>
						<a href="javascript:void(0)" onclick="editOrder('{{order.id}}')"><span class="material-symbols-outlined">edit</span></a>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="pagination {{ 'hidden' if clients|length < 20 }}">
		<button class="pagination__button" name="Previous" disabled="true" onclick="pagination(0)"><span class="material-symbols-outlined">chevron_left</span></button>
		<button class="pagination__button" name="Next" onclick="pagination(1)" {% if clients|length < 20 %}disabled="true" {% endif %}><span class="material-symbols-outlined">chevron_right</span></button>
	</div>
</div>
{% endblock %}