{% extends "app/base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app/roles.css') }}">
<script src="{{ url_for('static', filename='js/app/roles.js') }}"></script>

<script type="application/json" id="roles">
	{{ roles | tojson | safe }}
</script>

{% endblock %}
{% block title %}Roles - Client Max Pro{% endblock %}
{% block content %}
<div class="dashboard__content__header">
    <h1 class="dashboard__content__header__title">Roles</h1>
    <div class="dashboard__content__header__actions">
		<button class="dashboard__content__header__actions__button" onclick="newRoleModal()"><span class="material-symbols-outlined">add</span>New
			Role</button>
	</div>
</div>

<div class="new__role" id="new-role">
	<div class="new__role__content">
		<div class="new__role__content__header">
			<h1 class="new__role__content__header__title">New Role</h1>
			<button class="new__role__content__header__close" onclick="closeNewRoleModal()"><span class="material-symbols-outlined">close</span></button>
		</div>
		<div class="new__role__content__form">
			<div class="new__role__content__form__input">
				<label for="name">Role Name<span class="required">*</span></label>
				<input type="text" id="role_name" name="role_name" placeholder="Role Name">
			</div>
			<div class="new__role__content__form__input">
				<label for="role_permission">Permission<span class="required">*</span></label>
				<select id="role_permission" name="role_permission">
					<option value="" disabled selected>Select Permission</option>
					<option value="1">View</option>
					<option value="2">Edit</option>
					<option value="4">Admin</option>
				</select>
			</div>
		</div>
		<div class="new__role__actions">
			<button class="new__role__actions__button red" onclick="closeNewRoleModal()">Cancel</button>
			<button class="new__role__actions__button green" onclick="saveNewRole()">Save</button>
		</div>
	</div>
</div>

<div class="new__role" id="edit-role">
	<div class="new__role__content">
		<div class="new__role__content__header">
			<h1 class="new__role__content__header__title">Edit Role</h1>
			<button class="new__role__content__header__close" onclick="closeEditRoleModal()"><span class="material-symbols-outlined">close</span></button>
		</div>
		<div class="new__role__content__form">
			<input type="hidden" id="edit_role_id" name="edit_role_id">
			<div class="new__role__content__form__input">
				<label for="name">Role Name<span class="required">*</span></label>
				<input type="text" id="edit_role_name" name="edit_role_name" placeholder="Role Name">
			</div>
			<div class="new__role__content__form__input">
				<label for="role_permission">Permission<span class="required">*</span></label>
				<select id="edit_role_permission" name="edit_role_permission">
					<option value="" disabled selected>Select Permission</option>
					<option value="1">View</option>
					<option value="2">Edit</option>
					<option value="4">Admin</option>
				</select>
			</div>
		</div>
		<div class="new__role__actions">
			<button class="new__role__actions__button red" onclick="closeEditRoleModal()">Cancel</button>
			<button class="new__role__actions__button green" onclick="saveEditRole()">Save</button>
		</div>
	</div>
</div>

<div class="new__role" id="view-role">
	<div class="new__role__content">
		<div class="new__role__content__header">
			<h1 class="new__role__content__header__title">View Role</h1>
			<button class="new__role__content__header__close" onclick="closeViewRoleModal()"><span class="material-symbols-outlined">close</span></button>
		</div>
		<div class="new__role__content__form">
			<div class="new__role__content__form__input">
				<label for="name">Role Name</label>
				<input type="text" id="view_role_name" name="view_role_name" placeholder="Role Name" disabled>
			</div>
			<div class="new__role__content__form__input">
				<label for="role_permission">Permission</label>
				<input type="text" id="view_role_permission" name="view_role_permission" placeholder="Permission" disabled>
			</div>
		</div>
		<div class="new__role__actions">
			<button class="new__role__actions__button red" onclick="closeViewRoleModal()">Close</button>
		</div>
	</div>
</div>

<div class="dashboard__content__table">
	<div class="dashboard__content__table__header">
		<div class="dashboard__content__table__header__left">
			<button class="dashboard__content__table__header__left__button"><span class="material-symbols-outlined">filter_list</span>Filters</button>
		</div>
		<div class="dashboard__content__table__header__right">
			<input type="text" class="dashboard__content__table__header__right__search" placeholder="Search" data-type="roleSearch">
		</div>
	</div>
	<div class="dashboard__content__table__actions">
		<button class="dashboard__content__table__actions__button red" name="Delete Selected" disabled="true" onclick="deleteSelected()"><span class="material-symbols-outlined">delete</span></button>
	</div>
	<input type="hidden" id="pagination_offset" value="0">
	<input type="hidden" id="pagination_limit" value="20">
	<input type="hidden" id="csrf_token" value="{{ csrf_token() }}">
	<table id="data-table">
		<thead>
			<tr class="table__header">
				<th>#</th>
				<th><input type="checkbox" data-type="selectAll" onclick="roleSelectAll(this)"></th>
				<th>
					<div class="th-content">Name <a class="sort-by" href="javascript:void(0)" onclick="sortBy('name', 'asc', this)"></a></div>
				</th>
				<th>
					<div class="th-content">Permission <a class="sort-by" href="javascript:void(0)" onclick="sortBy('permission', 'asc', this)"></a></div>
				</th>
				<th>
					<div class="th-content">Created At <a class="sort-by down" href="javascript:void(0)" onclick="sortBy('created_at', 'asc', this)"></a></div>
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
	<div class="pagination {{ 'hidden' if roles|length < 20 }}">
		<button class="pagination__button" name="Previous" disabled="true" onclick="pagination(0)"><span class="material-symbols-outlined">chevron_left</span></button>
		<button class="pagination__button" name="Next" onclick="pagination(1)" {% if roles|length < 20 %}disabled="true" {% endif %}><span class="material-symbols-outlined">chevron_right</span></button>
	</div>
</div>

{% endblock %}